.vbox, .hbox {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #4a4a4a;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-alignment: center-left;
}

.button:default {
    -fx-background-color: #24b475;
}

.combo-box {
    -fx-background-color: #24b475;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
}

.combo-box-base {
    -fx-text-fill: #ffffff;
}

.combo-box .text-input {
    -fx-text-fill: #ffffff;
}

.text-field, .text-area {
    -fx-border-color: #9a9a9a;
    -fx-border-width: 2px;
}

.text-field:focused, .text-area:focused {
    -fx-border-color: #24b475;
}

.form-label {
    -fx-text-fill: #24b475;
}

.ticket-info {
    -fx-background-color: #eaeaea;
}

.reply-box {
    -fx-background-color: #24b475;
}

.reply-button {
    -fx-background-color: #1f7c4d;
}

.tool-bar {
    -fx-background-color: #d6d6d6;
}